@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{margin: 0; padding-top: 0; font-family: 'Roboto', sans-serif;}

#img-bg
{
    background-image: url('../img/bg_web.jpg');
    
 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    
}

.fa-bars
{
    font-size: 0;
}

ul li
{
    
    display: inline-block;
}

.container
{
    width: 100%;
}

header 
{
    background-color: black;
    height: 135px;
}
h1 {color: white; font-size: 72pt; text-align: center; }

ul {background-color: black;}
ul li
{
    font-size: 1.2em;
    padding-left: 100px;
    margin: 10px 155px auto;
    background-color: black;
    height: 30px;
    color: white;
}

.login-container
{
    margin: 100px auto;
    width: 300px;
    height:350px;
    background-color: black;
    padding: 27px;
    border-radius: 7px;
}


input[type='text'], input[type='password']
{
    font-size: 14pt;
    text-align: center;
    height: 40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 7px;
    background-color: white;
    border: 0;
    opacity: 0.9;
    text-decoration: underline;
}

input[type='text'], input[type='password']:focus
{
    outline: none;
}

input[type='submit']
{
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    height: 40px;
    margin-left: 15.5%;
    border-radius: 7px;
    border: 0;
    
}

input[type='submit']:focus
{
    outline: none;
}

h2
{
    color: white;
    text-align: center;
}

h3,a
{
    text-decoration: none;
    color: white;
    margin: 5px;
    font-size: 10pt;
    text-align: center;
}
footer
{
    background-color: black;
    height: 120px;
   
}
hr
{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-left: 15%;
}
footer .fa-instagram, .fa-twitter, .fa-linkedin, .fa-google-plus-g
{
    margin-left: 30px;
    padding-top: 20px;
    font-size: 22pt;
    margin: 10px auto;
    padding-left:280px ;
}

p {color: white; text-align: center; margin: 10px auto;}