@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{margin: 0; padding-top: 0; font-family: 'Roboto', sans-serif;}
/*============= HEADER ====================*/
#img-bg
{
    background-image: url('../img/bg_1.jpg');
    
 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.fa-bars
{
    font-size: 0;
}


.container
{
    width: 100%;
}

header 
{
    background-color: black;
    height: 135px;
}
h1 {color: white; font-size: 52pt; text-align: center; }

ul 
{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li 
{
    display: inline; 
    margin: 0 auto;
    padding: 10px 50px;
    text-align: center;
}

ul li:hover
{
    background-color: white;
    color: black;
    transition: 0.2s;
}



/*============= END HEADER ====================*/

/*=============CONTENT ====================*/
.login-container
{
    margin: 100px auto;
    width: 300px;
    height:350px;
    background-color: black;
    padding: 27px;
    border-radius: 7px;
    opacity: 0.9;
}


input[type='text'], input[type='password']
{
    font-size: 14pt;
    text-align: center;
    height: 40px;
    margin-top: 30px;
    width: 100%;
    border-radius: 7px;
    background-color: white;
    border: 0;
    opacity: 0.8;
    text-decoration: none;

}

input[type='text'], input[type='password']:focus
{
    outline: none;
    opacity: 1;
    
}

input[type='submit']
{
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    height: 40px;
    margin-left: 15.5%;
    border-radius: 7px;
    border: 0;
    opacity: 0.8;
    
}

input[type='submit']:hover
{
    cursor: pointer;
    opacity: 1.0;

}

input[type='submit']:focus
{
    outline: none;
}

h2
{
    color: white;
    text-align: center;
}

h3,a
{
    text-decoration: none;
    color: white;
    margin: 5px;
    font-size: 10pt;
    text-align: center;
}

/*============= END CONTENT ====================*/

/*============= FOOTER ====================*/
footer
{
    background-color: black;
    height: 120px;
   
}
hr
{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-left: 15%;
}

footer ul li 
{
    display: inline; 
    margin: 0 auto;
    padding: 12px 50px;
    text-align: center;
}

.fa-google-plus-g, .fa-linkedin, .fa-instagram, .fa-twitter
{
    font-size: 20pt;
    padding-top: 1%;
}


footer ul
{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}


p {color: white; text-align: center; margin: 20px auto;}

/*============= END FOOTER ====================*/

@media  screen and ( max-width: 994px)
{
    ul li {padding: 15px 30px;}
    footer ul li {padding: 12px 20px;}
    footer ul {padding-top: 10px;}
    footer p {margin: 10px;}

    .fa-google-plus-g, .fa-linkedin, .fa-instagram, .fa-twitter
{
    font-size: 20pt;
    padding-top: 1%;
}

}