* {margin: 0; padding-top: 0; font-family: 'Sen', sans-serif;}

header 
{
    background-color: black;
}
ul li
{
    display: inline-block;
    transition: 3s;
}

@media screen and (max-width: 994px)
{
    body 
    {
        background-image: url('../img/bg.jpg');

        background-repeat: no-repeat;
        background-size: auto;
    }

header h1  
{
    text-align: center;
    font-size: 88pt;
    font-style: normal;
    color: white;
    transition: 3s;
    

}

.fa-bars
{
    display: inline-block;
    font-size: 42pt;
    margin: 5%;
    color: white;
}

ul li
{
    bottom: 10%;
    display: none;
    color: white;
    list-style: none;
    font-style: normal;
    padding: 10px;
    font-size: 24pt;
    transition: 3s;
}
.container-login
{
    font-size: 32pt;
     margin-top: 50%;
     height: 100%;
     width: 100%;
     display: inline-block;
     text-align: center;
     color: white;
     border-radius: 15px;
}

.container-login h2
{
    font-size: 20pt;
    font-style: normal;
}

.container-login h3, a
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    font-size: 15pt;
}

.buttons
{
    margin: 10px auto;
    width: 330px;
    height: 50px;
    border-radius: 25px;
    font-size: 18pt;
    text-align: center;
    font-family:  sans-serif;
    text-decoration: none;
    border: 0px;
    outline: none;    

}


.buttons::placeholder
{
    font-size: 18pt;
    text-align: center;
}
#submit
{
    outline: none;
    margin-top: 5%;
    width: 200px;
    height: 60px;
    border-radius: 35px;
    border: 0px;
    font-size: 22pt;
    background-color: black;
    color: white;
}

.fab
{
    font-size:2.3em;
    margin: 23px 20px 0px 20px;
}

footer
{
    width: 100%;
    
    height: 180px;
    margin-top: 110%;
    text-align: center;
    background-color: black;
    color: white;
    display: inline-block;
}

hr
{
    width: 80%;
    margin: 15px auto;
}
footer h2 
{
    margin-top: 3.5%;
    font-size: large;
}

a
{
    color: white;
    text-decoration: none;
}
#dev_logo
{

    background-image: url('../img/logo_gadev.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -5px;
    background-position-x: center;
    width:100%;
    height: 80px;
    margin-top: -1.5%;
    font-size: 22pt;
}
}
